.cabecalho {
  background-color: rgb(14, 19, 23, 0.4);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding-right: 10%;
  padding-left: 14%;
  top: 0;
  left: 0;
  right: 0;
  flex-wrap: wrap;
}

.cabecalho_direita {
  display: flex;
  flex-direction: row;
  column-gap: 22px;
  margin-right: 25px;

  a {
    text-decoration: none;
  }

  p {
    cursor: pointer;
    color: white;
    font-size: 16px;
  }
}

.logo {
  height: 65px;
  width: 125px;
  border-radius: 10px;
}
