.rodape_container {
  background-color: #0e1317;
  height: 110px;
  display: flex;
  flex-direction: row;
  column-gap: 45px;
  align-items: center;
}

.logo_ufv {
  margin-left: 100px;
  width: 100px;
  height: 80px;
}

.localizacao_ufv {
  color: #a19f9f;
}
