.secao5_container {
  background-color: #08090b;
  background-image: url("../../public/fundo_secao5.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 100px;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 10%;
}

.img_notebook {
  width: 590px;
  height: 420px;

  margin-top: 18%;
}

.textos_container {
  width: 900px;
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  color: white;
}
