.secao3_container {
  background-color: #08090b;
  background-image: url("../../public/fundo_cursos.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  height: 650px;
}

.textos_container {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 160px;
  row-gap: 25px;
  color: white;
}
