.secao3_container {
  background-color: #08090b;
  background-image: url("../../public/fundo_cursos.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 120px;
  height: 650px;
  padding-left: 15%;
  padding-right: 10%;
}

.textos_container {
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 25px;
  color: white;
}

.titulo {
  color: #ff0080;
}
